
*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label{
  font-size: 20px;
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #FFF;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.container > h1{
  margin-bottom: 20px;
}

.container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container div{
  display: flex;
  flex-direction: column;
}

.container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: #007bff;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  margin: 10px 0;
  box-shadow: 0 3px 6px rgba(0,123,255,0.3);
  transform: translateY(0);
  transition: all 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0,123,255,0.4);
}