.auth-box {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 16px;
}
.auth-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
.auth-box button {
  width: 100%;
  background: #6b8e6f;
  color: white;
  border-radius: 12px;
  padding: 10px;
}
